{% extends 'base.html' %}
<html>
  <head>
    {% block head %}
    <title>Home</title>
    <link rel="stylesheet" href="/assets/style.css">
    {% endblock %}
  </head>
  <body>
    {% block body %}
      <h2 style="font-style: bold; color: red; text-align: center;">{{ meh }}</h2>
      <form action = "/create-account" method = "POST">
        <p><h1>Enter username</h1></p>
        <p><input type = 'text' name = 'nm'/></p>
        <p><h1>Enter password</h1></p>
        <p><input type = 'password' name = 'pw'/></p>
        <p><input type = 'submit' value = 'Create'/></p>
      </form>
    {% endblock %}
  </body>
</html>
