{% extends 'base.html' %}
<html>
  <head>
    {% block head %}
    <title>{{ username }} profile</title>
    <link rel="stylesheet" href="/assets/style.css">
    <meta name="description" content="{{username}}'s profile">
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <script>
      //let pos = document.getElementById('user-details').getBoundingClientRect()
      function show_details(){
        hide_osudata()
        hide_score()
        
        let details = document.getElementById('user-details')
        details.classList.remove('fade-away')
        details.classList.add('fade-in')
      }

      function hide_details(){
        let details = document.getElementById('user-details')
        details.classList.remove('fade-in')
        details.classList.add('fade-away')
      }

      function show_osudata(){
        hide_details()
        hide_score()
        
        let osudata = document.getElementById('osudata')
        osudata.classList.remove('fade-away')
        osudata.classList.add('fade-in')
      }

      function hide_osudata(){
        let osudata = document.getElementById('osudata')
        osudata.classList.remove('fade-away')
        osudata.classList.add('fade-away')
      }

      function show_score(){
        hide_details()
        hide_osudata()

        let backrooms = document.getElementById("score")
        score.classList.remove('fade-away')
        score.classList.add('fade-in')
      }

      function hide_score(){
        let score = document.getElementById("score")
        score.classList.remove('fade-in')
        score.classList.add('fade-away')
      }
    </script>
    <div style="margin-top: 3%;">
      <img style="margin-left: auto; margin-right: auto; display: block;" src="{{profile_picture}}">
      {% if request.cookies.get('userID') == id %}
        <form action="/api/account/change-pfp" method="POST"><input type="text" name="url" value="url"></input><input type="submit" value="set"></form> 
      {% endif %}
      <h1 class="username">{{username}}</h1>
    </div>
    <div class="profile-info mx-auto">
      <a style="margin: 10px;" onclick='show_details()'>Details</a>
      {% if metadata["osu id"] != 0 %}
        <a style="margin: 10px;" target=”_blank” href="https://osu.ppy.sh/users/{{metadata['osu id']}}">osu</a>
      {% endif %}
      {% if metadata["score"] != none %}
        <a style="margin: 10px;" onclick='score()'>score</a>
      {% endif %}
      {% if metadata["backrooms_data"] != none %}
        <a style="margin: 10px;" onclick='show_backrooms()'>The Backrooms</a>
      {% endif %}
    </div>
    <div class="user-details" id="user-details">
      <h1>About Me:</h1>
      <h2>{{ metadata["about me"]|safe }}</h2>
    </div>
    <div class="osu!" id="osudata">
        <h1>{{metadata["osu! data"]}}</h1>
    </div>
    <div class="ranked-score" id="score">
      <h1>{{metadata["score"]}}</h1>
    </div>
    {% endblock %}
  </body>
</html>
